<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="tdm" connectionString=""/>
    <add name="MTSDatabase" connectionString="Data Source=DESKTOP-5B4BMPN;Database=MTSDatabase;Trusted_Connection=True;Encrypt=False;" providerName="Microsoft.Data.SqlClient"/>
  </connectionStrings>
</configuration>