<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="tdm" connectionString=""/>
    <add name="mts" connectionString="Data Source=DESKTOP-5B4BMPN;Database=MTS;Trusted_Connection=True;" providerName="Microsoft.Data.SqlClient"/>
  </connectionStrings>
</configuration>